

//newindex

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
button{
    text-align:center;
}
/*to ensure that images don't overflow*/



/*body {
    background: url(background-sky.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    #837789;
}*/
ol, ul {
    list-style: none;
}

em {
    font-style: italic;
}


.game-menu-and-board-container{
    background: url(background-waterfall.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
    overflow:hidden;
}

.game-menu{
    text-align:center;
    font-size:300%;
}
#game-menu-header{
    font-size:80px;
    height:25vh;
}
.game-menu-buttons{
    height:25vh;
    font-size:100%;
}
.game-info{
    height:100vh;
    background-color:rgba(127, 63, 191, 0.4)

}

.moves-made{
    border:solid;
    text-align:center;
    background-color: #BF7F3F;
}
.level-choice{
    margin-top:5vh;
    border:solid;
    text-align:center;
    background-color: #BF7F3F;
}

.navigation-buttons{
    margin-top:5vh;
    border:solid;
    text-align:center;
    background-color: #BF7F3F;
}
.game-board {


    margin-top:5vh;
    border-radius: 0.3em;
    box-shadow: 0 5px 5px #808080;
    background: url(background-waterfall.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.game-grid-row {
    display: flex;
    flex-wrap: nowrap;
}

.game-card {
    width: 6em;
    height: 6em;
    background-color: transparent;
    border-radius: 0.3em;
    margin: 0.8em;
    box-shadow: 2px 0 10px #212121;
    cursor: pointer;
}

.game-card-img {
    visibility: hidden;
    object-fit: cover;
    width: 4.5em;
    height: 4.5em;
}

.show-img {
    visibility: visible;
    animation: animateShowImage 0.4s linear alternate;
}

.visibility {
    visibility:visible;
}

.hidden{
    visibility:hidden;
}


#overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.9);
    overflow-x:hidden;
    z-index:5;
}

#overlay-text{
    color:white;
}


.scale-in-left {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-7 15:26:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-left {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
}
@keyframes scale-in-left {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
}



