.card {
    overflow: hidden;
    padding: 0;
    border: black;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    height:200px;
    width:100px;
}



.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}
