

/*for all screens */

/*style modal */

.modal-content{
    background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align:center;
    font-family: 'Lora', serif;
}

.instructions-container {
    
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;

background: url(https://nafeesahyounis.github.io/secondmilestone/assets/images/cat-for-desktop.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
      background-attachment: fixed;  }

.modal-title {
background-color:#98C0C5;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;

}


/*background image for body on all screens */
body{
    background-color:#a1897f;
  }
/* initially when overflow was set to hidden, it wasn't possible to scroll down and see the rest of the game board, so it was changed to scroll in the container and this alongside the 100% width allows scrolling down but not sideways*/
  .container-fluid{
    max-width:100%;
      overflow: scroll;

}

  /*rows made max width 100% to prevent overflow */
.row{
    max-width:100%;
    overflow:hidden;
    
}



.game-card{
            display: inline-block;
            border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    position: relative;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    overflow: hidden;
    padding: 0;
    height:130px;
    width:100px;
      margin: auto;
background: url(https://nafeesahyounis.github.io/secondmilestone/assets/images/cat-for-desktop.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
      background-attachment: fixed;    
        }


.moves-made{
    text-align:center;
    font-family: 'Lora', serif;
    font-size:30px;
 background-color:#4B726D;
border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;


}

.level-choice{
    text-align:center;
    font-family: 'Lora', serif;
    font-size:30px;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
     background-color:#4B726D;

border: 1px solid #666;

}



/*for desktop*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
     
        
    .title {
        font-size:72px;
        border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    }
        

      .game-board{
          height:100vh;
              padding-top:5%;}


      .game-card {
           height:130px;
    width:100px;
      }
      .game-play{
          height:100vh;
    width:100vw;
      }





     
}


/*for phones */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      .game-card{
          height:50px;
          width:50px;
      }

      .game-play{
          overflow:scroll;
          margin-left:10%;
          
      }

      button {
          font-size:12px;
      }
      
    .game-board{
                    padding-left:15%;
                    overflow:scroll;

    }
    .level-choice{
        font-size:18px;
    }
    .moves-made{
        font-size:18px;
        
    }
    .final-card{
        margin-left:155%;
    }
}

/*for tablet */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      main{
            background: url(https://nafeesahyounis.github.io/secondmilestone/assets/images/vintage-cat.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        }

        .game-board{
            padding-top:5%;
        }

        .game-play{
          margin-left:10%;

        }

        .game-card{
            height:100px;
    width:100px;
        }

}


/* overflow on main game page fixed by setting it to hidden for the bootstrap container*/
.container{
    overflow:hidden;
    max-width:100%;
}



/*main game page*/

.title{
    text-align:center;
    font-family: 'Lora', serif;
    overflow:hidden;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;

}




.navigation-buttons{
    text-align:center;
}












/*.game-card {
    overflow: hidden;
    padding: 0;
    border: black;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  
} */

.show-img {
    visibility: visible;
    animation: animateShowImage 0.4s linear alternate;
}

.visible{
    visibility:visible;
}

.hidden{
    visibility:hidden;
}


.selected-button{
    text-decoration: underline;

}