

/*for all screens */

/*style modal */

.modal-content{
    background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align:center;
    font-family: 'Lora', serif;
}

.modal-title {
background-image: linear-gradient(to right top, #4b726d, #5d817c, #70918c, #83a19d, #96b1ad);    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;

}

.instructions-container {
    
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;}




/*background image for body on all screens */

body{
    background: url(https://nafeesahyounis.github.io/secondmilestone/assets/images/cats-in-rain.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
      background-attachment: fixed;
        

  }

/* initially when overflow was set to hidden, it wasn't possible to scroll down and see the rest of the game board, so it was changed to scroll in the container and this alongside the 100% width allows scrolling down but not sideways*/
  .container-fluid{
    max-width:100%;
      overflow: scroll;

}

/* overflow on main game page fixed by setting it to hidden for the bootstrap container*/
.container{
    overflow:hidden;
    max-width:100%;
}

  /*rows made max width 100% to prevent overflow */
.row{
    max-width:100%;
    overflow:hidden;
    
}

.title {
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    text-align:center;
font-family: 'Josefin Sans', sans-serif;    
overflow:hidden;
color:#404756;
    

}


/*game-card size for bigger screen sizes. The rest of the styling stays the same for all screens. */
.game-card{
            display: inline-block;
            border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    position: relative;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    overflow: hidden;
    padding: 0;
    height:130px;
    width:100px;
      margin: auto;
            background-image: linear-gradient(to right top, #4b726d, #49717c, #586d83, #96B1AD, #96B1AD);


        }

/* container for section where moves are made */
.moves-made{
    text-align:center;
    font-family: 'Lora', serif;
    font-size:30px;
background-image: linear-gradient(to right top, #606b83, #667d90, #718f9b, #81a0a4, #96b1ad);border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    font-family: 'Josefin Sans', sans-serif;    
    color:#404756;




}

/*container for choosing level */
.level-choice{
    text-align:center;
    font-family: 'Lora', serif;
    font-size:30px;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
     -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
     background-image: linear-gradient(to right top, #606b83, #667d90, #718f9b, #81a0a4, #96b1ad);

border: 1px solid #666;
font-family: 'Josefin Sans', sans-serif;    
color:#404756;

}



/*for desktop*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
     
       /* size of title is largest on big screen size */ 
    .title {
        font-size:72px;
    }
        

      .game-board{
          height:100vh;
            padding-top:5%;}


      .game-card {
           height:130px;
    width:100px;
      }
      .game-play{
          height:100vh;
    width:100vw;
      }





     
}


/*for phones */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      .game-card{
          height:50px;
          width:50px;
      }

/* on phone game board does not fit on one screen, so overflow is set to scroll so that player can scroll down to see game board. Horizontal overflow fixed in earlier css */
 /* margin added to center game-play board */     
      .game-play{
          overflow:scroll;
          margin-left:10%;
          margin-top:2%;
          
      }

/*buttons resized so that they occupy less space on smaller screen size and dominate page less */
      button {
          font-size:12px;
      }

/*see .game-play */
      
    .game-board{
                    padding-left:15%;
                    overflow:scroll;

    }

/* see button */
    .level-choice{
        font-size:18px;
        margin-left:5%;
        margin-top:5%;
    }
    .moves-made{
        font-size:18px;
                margin-left:5%;

        
    }
    
}

/*for tablet */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    

        .game-board{
            padding-top:5%;
        }

       .game-play{
           margin-left:5%;
                     margin-top:2%;

       }

     

}

/* css classes accessed by javascript to adjust visibility of images on click */

.show-img {
    visibility: visible;
    animation: animateShowImage 0.4s linear alternate;
}

.visible{
    visibility:visible;
}

.hidden{
    visibility:hidden;
}


.selected-button{
    text-decoration: underline;

}